body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(210deg, black 75%, rgb(91, 231, 233));
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    align-items: center;
    text-align: center;
    padding: 20px;
}

.result-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.result-details {
    max-width: 400px;
    margin: 0 auto;
}

.translation-attempt, .user-translation, .score-info, .correct-translation {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.user-translation {
    color: rgb(91, 231, 233);
}

.return-form {
    margin-top: 20px;
}

.common-button {
    padding: 10px;
    font-size: 1.5em;
    background-color: rgb(91, 231, 233);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.common-button:hover {
    background-color: rgb(24, 149, 151);
}