<!-- templates/learn.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='learn-style.css') }}">
    <title>Slovak Brat</title>
</head>
<body>
    <div class="container">
        <h2 class="main-heading">Lerne slowakische {{ section }}</h2>
        <p class="instruction">übersetze das folgende:</p>
        
        <form action="/check_translation" method="post" class="translation-form">
            <input type="hidden" name="correct_translation" value="{{ word }}">
            <div class="form-group">
                <label class="word-label">
                    {{ word }}
                </label>
                <input type="text" name="user_translation" required class="user-translation-input">
            </div>
            <div class="form-group">
                <button class="common-button" type="submit">Überprüfe deine Übersetzung.</button>
            </div>
        </form>
    </div>
</body>
</html>